<div class="tableview">
    <div class="menu">
        <img class="menu-item" src="assets/setting.png" matTooltip="Edit" [matTooltipPosition]="'above'">
        <img class="menu-item" src="assets/save.png" matTooltip="Save"  [matTooltipPosition]="'above'">
    </div>

    <table class="content-table">
        <thead>
            
            <tr>
                <th>Data 1 [Integer]</th>
                <th>Data 2 [Real]</th>
                <th>Data 1 [Real]</th>
                <th>Data 2 [DInt]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1235</td>
                <td>1235</td>
                <td>1235</td>
                <td>1235</td>
            </tr>
            <tr>
                <td>1235</td>
                <td>1235</td>
                <td>1235</td>
                <td>1235</td>
            </tr>
            </tbody>
    </table>
</div>
