<div class="content-row">
    <div>
        <nav>
            <div class="wrapper">
            <input type="radio" name="slider" id="menu-btn">
            <input type="radio" name="slider" id="close-btn">
            <ul class="nav-links">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                <li>
                    <a class="desktop-item">Project</a>
                    <input type="checkbox" id="showDrop">
                    <ul class="drop-menu">
                        <li><a>New</a></li>
                        <li><a>Load</a></li>
                        <li><a (click)="save()">Save</a></li>
                        <li><a>Download</a></li>
                        <li><a>Upload</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
  </div>
  <div class="content-column">
    <app-list-recipes>
    </app-list-recipes>
    <app-recipe-table>    
    </app-recipe-table>
  </div>
</div>